<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        {{ JSGlue.include() }} <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{{ url_for('static', filename='randomcolor.js') }}"></script>
        <link href="{{ url_for('static', filename='emotions/emotion.css') }}" rel="stylesheet"/>
        <title> Colormap of Bible: Genesis </title>
    </head>
    <body>
    <h1 id="name">Bible: Genesis </h1>
    <div id="para"> Number of occurences found: </div>
    <div id="para"> Anger: 358 | Anticipation: 770 | Joy: 912 | Disgust: 426 | Sadness: 411 | Fear: 693 </div>
    <br>
    <canvas id="canvas"></canvas>
    <script src="{{ url_for('static', filename='emotions/genesis/bundle.js') }}"></script>
    <div id="para"> Download the colour maps by clicking the button below. </div>
	<div class="buttons">
					<a id="download">Download Graph</a>
					<a id="back" href="/emotion">Back to Emotion</a>
	</div>
	<script>
	    document.getElementById('download').addEventListener('click', function() {
                this.href = document.getElementById('canvas').toDataURL();
                this.download = "emotiongenesis.jpg";
        }, false);
	</script>
</body>
</html>