<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        {{ JSGlue.include() }}
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{{ url_for('static', filename='randomcolor.js') }}"></script>
        <link href="{{ url_for('static', filename='emotions/emotion.css') }}" rel="stylesheet"/>
        <title> Custom Colormap </title>
    </head>
    <body>
    <h1 id="name">Custom Colormap</h1>
    <div id="para"> Number of occurences found: </div>
    <div id="para"> Anger: {{ anger }} | Anticipation: {{ anti }} | Joy: {{ joy }} | Disgust: {{ disgust }} | Sadness: {{ sad }} | Fear: {{ fear }} </div>
    <br>
    <canvas id="canvas"></canvas>
    <script src="{{ url_for('static', filename='emotions/bundle.js') }}"></script>
    <div id="para"> Download the colour maps by clicking the button below. </div>
	<div class="buttons">
					<a id="download">Download Graph</a>
					<a id="back" href="/emotion">Back to Emotion</a>
	</div>
	<script>
	    document.getElementById('download').addEventListener('click', function() {
                this.href = document.getElementById('canvas').toDataURL();
                this.download = "customemotion.jpg";
        }, false);
	</script>
</body>
</html>