{% extends "layout.html" %}

{% block title %}
    Genre
{% endblock %}

{% block main %}
  <section>
    <p> We classify texts based on their genre: there are mystery novels, thriller novels, romantic novels, tragedies, comedies, epics, etc. Even non-fiction works have genres too: histories, biographies, essays, so on and so forth. </p>
    <p> One area of the digital humanities explores genre prediction: whether a computer can guess the genre a text belongs to based on various metrics, such as average word length, "readability" of a text, etc.</p>
    <p> In this section, we take 15 texts from 7 genres. 3 are non-fictional: biographies, textbooks and philosophical texts. 4 are fictional: tragedies, science fiction, gothic novels and fantasy novels. For each of these texts, two metrics are computed: the average length of a sentence, as well as the "past tense ratio": the ratio of past tenses and participles to the total number of words. This is by no means a "good" methodology by any standards of research: it is merely an experiment to show how we can predict a text based on literary metrics. </p>
    <p style="text-align:center"> <a style="color:white" href="genre/visual">This is the bubble chart we generated.</a> </p>
  </section>
    
  <section>
    <p> Can our chart predict the genre of your favourite book? Upload one and see! All you need is a text file of your favourite book. Because no one in 2016 reads in .txt, and because torrenting is illegal (right?), you should visit <a style="color:white" href="https://www.gutenberg.org/"> Project Gutenberg</a>, a great place to get free e-books. Just search for the book you want, choose "Plain Text UTF-8", and then copy all the text into a text file (i.e. name.txt). Because computing power is limited, hence any text file you choose should be limited to 40000 words. (You can just copy a chunk of your favourite book.) Of course, the smaller the file, the less time the computer will take. </p>
    <p> Now upload it in the button below. Remember, text file format, and nothing exceeding 40000 words. </p>
    <br>
    <form id="input" action="{{ url_for('genre') }}" enctype=multipart/form-data name="inputtext" method="post">
        <input id="choose" style="font-family:lanenar" type="file" name="inputfile" accept=".txt">
        <input id="submit" type="submit">
    </form>
    </section>
    {% if nofile %}
        <script>alert("No file chosen.");</script>
    {% endif %}
    {% if toolong %}
        <script>alert("File is too long. Choose again.");</script>
    {% endif %}
{% endblock %}

