{% extends "layout.html" %}

{% block title %}
    Map
{% endblock %}

{% block main %}
  <section>
    <p> If a book were to be distilled into one single image, what would it look like? </p>
    <p> In this section, <b>Map</b> tries to answer that question. We will take a text, and converts it into a graph: a structure that contains nodes (which are points) and edges (which connect these points). In this case, every word in a text is a node, and words are connected if they belong in the same "unit structure" (i.e. sentence, or paragraph). In this way, a graph gives us a general sense of what a text is about: the themes and characters, and how they all relate to each other. </p>
    <p> Here's the method we used: </p>
    <p> First, a text is scanned by the computer. Stopwords, which are commonly used words like "the" and "a", are stripped from the text, because these words have no meaning in themselves. Next, to ensure that the graph is not too big, all words that occur less than a certain number of times are also removed. Every word is then converted into a node, and the more frequently the word appears, the bigger the node. So far, so good, right?</p>
    <p> Next, a connection is drawn between every word and every other word in a "unit structure". This is usually a sentence, but depends on the text. For example, the logical unit structure to use for the Bible would be a verse. Again, the more connections are made between two words, the thicker the edge. If two words have less than a certain number of connections, the edge is removed as well, again to make sure the graph isn't too big. </p>
    <p> Lastly, with our data of nodes (words) and edges (connections), we can proceed to draw out the graph. </p>
    </section>
    <section>
    <p> Take a look at some graphs:</p>
    <p style="text-align:center"> <a style="color:white" href="map/genesis">Bible: Genesis</a> | <a style="color:white" href="map/matthew"> Bible: Matthew </a> | <a style="color:white" href="map/inferno"> Dante's <i>Inferno</i> </a> | <a style="color:white" href="map/odyssey"> Homer's <i>Odyssey</i></a> | <a style="color:white" href="map/emma"> Jane Austen's <i>Emma</i></a> </p>
    <p> The unit structures used are: the verse for <i> Genesis </i> and <i> Matthew</i>, the terza rima stanza for the <i> Inferno</i>, the dactylic hexameter stanza for the <i> Odyssey</i>, and the sentence for <i> Emma</i>.</p>
  </section>
  <section>
    <p> Try creating your own graph! All you need is a text file of your favourite book. Because no one in 2016 reads in .txt, and because torrenting is illegal (right?), you should visit <a style="color:white" href="https://www.gutenberg.org/"> Project Gutenberg</a>, a great place to get free e-books. Just search for the book you want, choose "Plain Text UTF-8", and then copy all the text into a text file (i.e. name.txt). Because computing power is limited, hence any text file you choose should be limited to 40000 words. (You can just copy a chunk of your favourite book.) The minimum word frequency has been set to 20, so try not to choose a file that is too short either, otherwise no graph will be generated. </p>
    <p> Now upload it in the button below. Remember, text file format, and nothing exceeding 40000 words. </p>
    <br>
    <form id="input" action="{{ url_for('map') }}" enctype=multipart/form-data name="inputtext" method="post">
        <input id="choose" style="font-family:lanenar" type="file" name="inputfile" accept=".txt">
        <input id="submit" type="submit">
    </form>
    </section>
    {% if nofile %}
        <script>alert("No file chosen.");</script>
    {% endif %}
    {% if toolong %}
        <script>alert("File is too long. Choose again.");</script>
    {% endif %}
{% endblock %}

