@font-face {
    font-family: codropsicons;
    src: url(codropsicons.woff);
		   }
		   
@font-face {
    font-family: lanenar;
    src: url(lanenar.ttf);
		   }
		   
body {
      background: #000;
}
  
#name {
      font-family: "lanenar";
      text-shadow: 2px 2px 2px #FFFFFF;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
}

#para {
	top: 30px;
	padding: 0.8em 0.8em;
	margin: auto auto;
	font-family: "lanenar";
	opacity: 1;
	font-weight: 200;
	line-height: 1.4;
	color: #FFF;
	text-align: center;
	width: 50%;
}

.buttons {
	padding-top: 1em;
	font-size: 0.9em;
	margin: auto;
    width: 10%;
}

.buttons a {
	text-decoration: none;
	outline: none;
	display: block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #fff;
	color: #fff;
	font-family:"lanenar";
	font-weight: 700;
	width: 115px;	
	left: 50px;
}

.buttons a:hover,
.buttons a.current-demo,
.buttons a.current-demo:hover {
	opacity: 0.6;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "lanenar";
}

#name {
	text-align: center;
	color: white;
}

#myDiv {
    margin: 0 auto;
    width: 1000px;
    height: 650px;
    opacity: 1;
}

#heroin {
	margin: auto auto;
	width: 50%;
	border-style: solid;
	border-color: white;
	padding: 0.7em 0.7em;
}

#morphine {
	color: white;
	text-align: center;
}