{% extends "layout.html" %}

{% block title %}
    Acknowledgments
{% endblock %}


{% block main %}
    <section>
        <p style="padding:0.3em 0.3em; text-align:center"> I am grateful to the following from Harvard University for their generous assistance rendered in the completion of this project: </p>
        <p style="padding:0.1em 0.1em; text-align:center">________________________________________________________________</p>
        <p style="text-align:center"> <strong> Brian P. Yu</strong>, for providing useful technical advice and directing me to relevant technical resources. </p>
        <p style="text-align:center"> <strong> Prof. Deidre S. Lynch</strong>, for pointing me to useful research in the field of digital humanities.</p>
        <p style="text-align:center"> <strong>Staff of CS50</strong>, for general technical advice, and for making this project a possibility. </p>
	    <p></p>
	    <p></p>
	    <p style="text-align:center"> Methodology for the various applications were adapted from the following: </p>
	    <p style="padding:0.1em 0.1em; text-align:center">________________________________________________________________</p>
	    <p style="text-align:center"><strong>Map:</strong> Nodus Lab, at http://noduslabs.com/cases/textexture-non-linear-reading-machine. </p>
	    <p style="text-align:center"><strong>Emotion:</strong> Self-created, inspired by Dillon Baker's Spectrum Project, at http://dillonbaker.com/#/spectrum/ and Heuser, Moretti, Steiner, at https://litlab.stanford.edu/LiteraryLabPamphlet13.pdf. </p>
	    <p style="text-align:center"><strong>Genre:</strong> Self-created, inspired by Algee-Hewitt, Heuser, Moretti, at https://litlab.stanford.edu/LiteraryLabPamphlet10.pdf and McCarthy, Myers, Briner, Graesser, McNamara, at http://www.jlcl.org/2009_Heft1/JLCL24(1).pdf. </p>
	    <p style="text-align:center"><strong>Create:</strong> Andrej Karpathy, at http://karpathy.github.io/2015/05/21/rnn-effectiveness/. </p>
	    <p></p>
	    <p></p>
	    <p style="text-align:center"> The following technical resources were used for various aspects of the project: </p>
	    <p style="padding:0.1em 0.1em; text-align:center">________________________________________________________________</p>
	    <p style="text-align:center"><strong>Project Gutenberg</strong>, from which e-books for the project were sourced. </p>
	    <p style="text-align:center"><strong>NLTK 3.0</strong>, a Python toolkit for various useful text processing functions. </p>
	    <p style="text-align:center"><strong>simga.js</strong>, for the visualization of graphs from <strong> Map</strong>. </p>
	    <p style="text-align:center"><strong>Saif Mohammad</strong>, for the list of emotion-word associations for <strong> Emotion</strong>. </p>
	    <p style="text-align:center"><strong>colormap.js</strong>, for the visualization of colormaps from <strong> Emotion</strong>. </p>
	    <p style="text-align:center"><strong>plotly.js</strong>, for the visualization of the bubble chart from <strong> Genre</strong>. </p>
	    <p style="text-align:center"><strong>Codrops</strong>, from which the menu and website's designs were adapted. </p>
	    <p style="text-align:center">And other minor references.</p>
	    <p></p>
	    <p></p>
	    <p style="padding:0.1em 0.1em; text-align:center">________________________________________________________________</p>
	    <p style="font-size: 15px; text-align:center"> This website is implemented in partial fulfillment of the requirements for Harvard University CS50's Final Project. </p>
	</section>
{% endblock %}