{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}


{% block main %}
    <section>
        <p style="padding: 0.8em 0.8em"> <img src="static/menu/me.jpg" style="PADDING-RIGHT: 10px" width="20%" height="20%" align="left"> <strong> Wanqian Yang </strong> is a freshman at Harvard University from Singapore. He is taking CS50 and HUM 10A this semester, the two courses which have inspired this project. Coincidentally, he has not been getting a lot of sleep. He loves reading, travelling and the Charles River. One day he will travel around the world, but before then, he lives vicariously through <i> National Geographic </i> photographs. If you have queries, complaints (hopefully not) or love poems to send (hopefully), you can email him at <a href="mailto:yangw@college.harvard.edu"> yangw@college.harvard.edu</a>.</p>
	</section>
{% endblock %}