{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
  <script> var getit = $.getJSON('/writestory');</script>
  <section>
    <p> Machine learning, more than anything else, pushes at the boundaries that we draw between computers and humans. If a computer might one day write stories like we do, will they really be that different from us? WILL a computer ever be able to? </p>
    <p> <b> Create </b> explores these questions and wades into the realm of machine learning and artificial intelligence. Here, we have adapted what is known as a recurrent neural network (RNN), a type of artificial computing network that is able to process input (such as words, pictures, patterns) and then generate similar output. Not only so, what makes RNNs so special is that every time they generate an output, that output gets added to its collection of inputs. In this way, the longer a RNN processes information, the more intelligent and accurate it gets. </p>
    <p> You can see why this might have applications for literature. Given any story as an input, we can get the computer to generate repeated iterations of text as output, based off the patterns of words and speech the computer can glean. Each iteration is fed back to the computer as input, hence, the computer might start off writing gibberish, but the longer it processes, the closer the computer gets to the actual text. </p>
    </section>
    <section>
    <p> Click on any link below to start the process for a given text. Because really accurate RNNs take a while to build up, you'll probably not be seeing anything meaningful for a while: </p>
    <p style="text-align:center"> <a style="color:white" href="create/genesis">Bible: Genesis</a> | <a style="color:white" href="create/matthew"> Bible: Matthew </a> | <a style="color:white" href="create/inferno"> Dante's <i>Inferno</i> </a> | <a style="color:white" href="create/odyssey"> Homer's <i>Odyssey</i></a> | <a style="color:white" href="create/emma"> Jane Austen's <i>Emma</i></a> </p>
  </section>
  <section>
    <p> You can create a RNN based off your favourite text here. All you need is a text file of your favourite book. Because no one in 2016 reads in .txt, and because torrenting is illegal (right?), you should visit <a style="color:white" href="https://www.gutenberg.org/"> Project Gutenberg</a>, a great place to get free e-books. Just search for the book you want, choose "Plain Text UTF-8", and then copy all the text into a text file (i.e. name.txt). Because computing power is limited, hence any text file you choose should be limited to 40000 words. (You can just copy a chunk of your favourite book.) </p>
    <p> Now upload it in the button below. Remember, text file format, and nothing exceeding 40000 words. The longer the text, the more accurate the RNN will be. (Nonetheless, a truly accurate RNN requires input several times larger than this.) </p>
    <br>
    <form id="input" action="{{ url_for('create') }}" enctype=multipart/form-data name="inputtext" method="post">
        <input id="choose" style="font-family:lanenar" type="file" name="inputfile" accept=".txt">
        <input id="submit" type="submit">
    </form>
    </section>
    {% if nofile %}
        <script>alert("No file chosen.");</script>
    {% endif %}
    {% if toolong %}
        <script>alert("File is too long. Choose again.");</script>
    {% endif %}
{% endblock %}

