{% extends "layout.html" %}

{% block title %}
    Emotion
{% endblock %}

{% block main %}
  <section>
    <p> That without terror or pity cannot be a tragedy, and what is a mystery without suspense, or anticipation? </p>
    <p> In this section, <b> Emotion </b> attempts to visualize a text based on emotions: how much of the text is associated with fear? Or joy? Or sadness? This is what we did: </p>
    <p><a style="color:white" href="acknowledgments"> Previous research has been done </a> on the association between words, and emotions. We scan a text word by word, and every word is tagged with the emotions it is associated to. For example, "scream" might be tagged with fear, anger and disgust. We then generate 6 rectangular maps. For each map, every word in the text from start to end is represented by thin slices placed side by side. If the word is associated with an emotion, the slice is coloured; otherwise, the slice is black in colour. 6 such colour maps are created for the 6 emotions of: joy, anticipation, anger, fear, disgust and sadness. In this way, the text can be visualized as a spectrum of colours based on emotions. </p>
    </section>
    <section>
    <p> Take a look at some colour maps:</p>
    <p style="text-align:center"> <a style="color:white" href="emotion/genesis">Bible: Genesis</a> | <a style="color:white" href="emotion/matthew"> Bible: Matthew </a> | <a style="color:white" href="emotion/inferno"> Dante's <i>Inferno</i> </a> | <a style="color:white" href="emotion/odyssey"> Homer's <i>Odyssey</i></a> | <a style="color:white" href="emotion/emma"> Jane Austen's <i>Emma</i></a> </p>
  </section>
  <section>
    <p> Try creating your own colour map! All you need is a text file of your favourite book. Because no one in 2016 reads in .txt, and because torrenting is illegal (right?), you should visit <a style="color:white" href="https://www.gutenberg.org/"> Project Gutenberg</a>, a great place to get free e-books. Just search for the book you want, choose "Plain Text UTF-8", and then copy all the text into a text file (i.e. name.txt). Because computing power is limited, hence any text file you choose should be limited to 40000 words. (You can just copy a chunk of your favourite book.) Of course, the smaller the file, the less time the computer will take. </p>
    <p> Now upload it in the button below. Remember, text file format, and nothing exceeding 40000 words. </p>
    <br>
    <form id="input" action="{{ url_for('emotion') }}" enctype=multipart/form-data name="inputtext" method="post">
        <input id="choose" style="font-family:lanenar" type="file" name="inputfile" accept=".txt">
        <input id="submit" type="submit">
    </form>
    </section>
    {% if nofile %}
        <script>alert("No file chosen.");</script>
    {% endif %}
    {% if toolong %}
        <script>alert("File is too long. Choose again.");</script>
    {% endif %}
{% endblock %}

