{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}
    <section>
        <p> What do computers have to do with books? </p>
		<p> In an era where e-books fight with traditionally-printed books for readership and revenue, digital humanities represent an area of research that has grown out of the most unlikely intersection of two fields: computer science and the humanities. <strong> Project CodeRead</strong> is an experiment in digital humanities: an exploration of the various ways we can use technology to enhance our understanding of literature. There are 4 different applications: </p>
		<p style="padding: 0.8em 0.8em"> <img src="static/menu/index1.jpg" style="PADDING-RIGHT: 10px" width="40%" height="40%" align="left"> </p> <p><strong> &#8592; Map</strong> explores the graphing of a text, and the way individual words in a text relate to one another. </p>
		<p style="padding: 0.8em 0.8em"> <img src="static/menu/index2.jpg" style="PADDING-LEFT: 10px" width="30%" height="30%" align="right"> <strong> Emotion </strong> takes a look at the emotional makeup of a text, and visualizes it based on the intensity of feelings. <b>&#8594;</b> </p>
		<p style="padding: 0.8em 0.8em"> <img src="static/menu/index3.jpg" style="PADDING-RIGHT: 10px" width="40%" height="40%" align="left"> </p><p> <strong> &#8592; Genre </strong> aims to predict the genre of a text from the structure and form of the text. </p>
		<p style="padding: 0.8em 0.8em"> <img src="static/menu/index4.jpg" style="PADDING-LEFT: 10px" width="40%" height="40%" align="right"> </p><p>Lastly, <strong> Create </strong> is a foray into machine learning, and examines the ability to machines to write a story. <b> &#8594;</b> </p>
		<p></p>
		<p> Ultimately, the aim of this project is to challenge the notion that technology and literature have little to do with each other. While exploring the various applications, ask yourself if you agree with the results of computational analysis. Do you think computers get things very wrong, or do you think they have powers of analysis far exceeding the human mind? These questions, and more, are yours to answer. </p>
	</section>
{% endblock %}
